.detalleGeneral{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.img_detalle{
   width: auto;
   margin-top: -3rem;
}

.textoImg{
   z-index: 50;
   margin-bottom: -0.5rem;
   margin-left: -47%;
}

